<?php
/**
 * DhErrorLogging Configuration
 *
 * If you have a ./config/autoload/ directory set up for your project, you can
 * drop this config file in it and change the values as you wish.
 */
use Zend\Log\Logger;

return array(
         /*'dherrorlogging' => array(
            'enabled' => true,

            // set writers to be used.
            // You can either add new config array for some of the the standard writers that don't need injection of other objects
            // (stream, chromephp, 'fingerscrossed', 'firephp', 'mail', 'mock', 'null', 'syslog', 'zendmonitor')
            // or identifier of registered log writer factory (registered in general config section ['log_writers']).
            'log_writers' => array(
                'stream' => array(
                    'name' => 'stream',
                    'options' => array(
                        'stream' => 'data/log/error.log',
                        'log_separator' => "\n"
                    ),

                ),
                //'db' => array(
                //    'name' => 'DhErrorLogging\DbWriter'
                //)

            ),

            // priority to start logging from
            'priority' => Logger::WARN,

            'templates' => array(
                // template for fatal errors
                'fatal' => __DIR__ . '/../view/error/fatal.html',
            )
        ),*/

        'log_writers' => array(
            'factories' => array(
                'DhErrorLogging\DbWriter' => 'DhErrorLogging\Factory\Writer\DbWriterFactory'
            )
        ),

        'service_manager' => array(

            'aliases' => array(
                // set db adapter
                'dherrorlogging_zend_db_adapter' => 'Zend\Db\Adapter\Adapter',
            ),

        ),
);
